.mon-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 100px;

    padding: 10px;
    margin: 10px;

    background-color: rgba(156, 156, 251, 0.4);
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgba(55, 55, 55, 0.3);
}

.mon-card>p {
    color: rgb(49, 49, 49);
    font-size: 0.8em;

    margin: 0;
    padding: 0;

    text-align: center;
}

.mon-itself>img {
    height: 50px;
}

.mon-typing>h5 {
    display: none;
}

.mon-typing,
.mon-abilities,
.mon-stats {
    display: none;
}