:root {
    --fix-pad: 30px;
}

h5 {
    margin-top: var(--fix-pad);
}

.inputs-group-2 {
    grid-column-start: 2;
    grid-column-end: 3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 var(--fix-pad) var(--fix-pad) var(--fix-pad);
    margin: 20px 20px;

    background: rgb(127, 127, 249);
    
    border-radius: 15px;

    transition: 1s;
}

.input-field {
    height: 20px;

    margin: 5px;
    
    border-radius: 5px;
}

.select-field {
    height: 30px;
    width: 90%;

    margin: 5px;
    
    border-radius: 5px;

    border: 1px solid black;
}